[submodule "frontend"]
	path = frontend
	url = https://github.com/MahbubaSultanaEty/skill-swap-client
[submodule "backend"]
	path = backend
	url = https://github.com/MahbubaSultanaEty/skill-swap-server
